@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    font-family: var(--font-family);
}

:root {
    --bg-color: #070f2b;
    --second-color: #1B1A55;
    --text-color: #d2d1f5 ;
    --main-color: #7a8efe;
    --font-family: 'Roboto', sans-serif;
    --transition: 0.4s ease-in;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}     

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0, .2);
}

.logo
{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--text-color);
    cursor: pointer;
}

.navBar a{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 2rem;
    cursor: pointer;
    transition: .5s ease;
}

.navBar a:hover,
.navBar a.active{
    color: var(--main-color);
}

#menu-icon{
    color: var(--text-color);
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
}

#devPic{
    height:58vh;
    background-color: teal;
    border-radius: 50%;
    filter:drop-shadow(0 0 1rem teal);
    animation:floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Source Code Pro',monospace;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-content p{
    font-size: 1.6rem;
}

span{
    color: var(--main-color);  
}

.socialMedia a{
    display:inline flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    font-size:2rem;
    color: var(--main-color);
    cursor:pointer;
    transition: .5s ease;
}

.socialMedia a:hover{
    background: var(--main-color);
    color: var(--second-color);
    box-shadow:0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
    letter-spacing: .1rem;
    transition: .5s ease;
}

.btn:hover{
    background: var(--second-color);
    color: var(--main-color);
}

.about{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Source Code Pro',monospace;
    gap:2rem;
    background: var(--second-color);
}


#aboutDevPic{
    height:58vh;
    background-color:transparent;
    border-top:6px solid teal;
    border-left:6px solid  teal;
    border-right:6px solid  teal;
    filter:drop-shadow(0 0 1rem teal);
    border-radius: 50%;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin : 2rem 0 3rem;
}

.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.services-container .services-box{
    flex:1 1 30rem;
    background:var(--second-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align:center;
    border:.2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    border-color:var(--main-color) ;
    transform:scale(1.02);
}

.services-box i{
    font-size:7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
    margin: 2rem 0;
}

.services-box p{
    font-size: 1.6rem;
    margin:1rem 0 3rem;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position:relative;
    border-radius:2rem;
    box-shadow:0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(black, var(--main-color));
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:0 4rem;
    transform:translateY(100%);
    transition: .5s ease;
}


.portfolio-box:hover .portfolio-layer{
    transform:translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.portfolio-layer p{
    font-size: 1.6rem;
    font-weight: 400;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height:5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a:hover{
    box-shadow:0 0 1rem var(--second-color);
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-color);
}

.skills{
    margin-top: 2rem;
    background: var(--second-color);
}

.skills-container h2{
    margin-bottom: 3rem;
}

.skills-container .skills-list{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.skills-container ul{
    list-style: none;
    text-align: center;
}

.skills-container ul i{
    font-size: 6rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.skills-container .skills-list h3{
    font-size: 1.6rem;
}

.skills-container .skills-list li{
    border:.2rem solid #7a8efe;
    margin: 3rem;
    padding:1rem 1rem;
    border-radius: .8rem;
    background: var(--bg-color);
}

.skills-container .skills-list li:hover{
    box-shadow:0 0 1rem var(--main-color);
    transition: .5s ease;
    transform: scale(1.2);
}


.events{
    background: var(--second-color);
}

.events h2{
    margin-bottom: 4rem;
}

.events-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.events-container .events-box{
    position:relative;
    border-radius:2rem;
    box-shadow:0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.events-box img{
    width: 100%;
    transition: .5s ease;
}

.events-box:hover img{
    transform: scale(1.1);
}

.events-box .events-layer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(black, var(--main-color));
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:0 4rem;
    transform:translateY(100%);
    transition: .5s ease;
}


.events-box:hover .events-layer{
    transform:translateY(0);
}

.events-layer h4{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.events-layer p{
    font-size: 1.6rem;
    font-weight: 400;
    margin: .3rem 0 1rem;
}

.events-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height:5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.events-layer a:hover{
    box-shadow:0 0 1rem var(--second-color);
}

.events-layer a i{
    font-size: 2rem;
    color: var(--second-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width:70rem;
    margin:1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display:flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.contact form .input-box input,
.contact form textarea
{
    width: 100%;
    padding:1.5rem;
    font-size:1.6rem;
    color:var(--text-color);
    background: var(--second-color);
    border-radius: .8rem;
    margin: .7rem .2rem;
}

.contact form .input-box input{
    width:49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor:pointer;
}

.footer{
   display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding:2rem 9%;
    background: var(--second-color);
}

.footer-text{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding:.8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a:hover{
    box-shadow:0 0 1rem var(--main-color);
    transition: .5s ease;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-color);
}

body::-webkit-scrollbar {
    width: 10px; 
}

body::-webkit-scrollbar-track {
    background-color: #8e7af0; 
}

body::-webkit-scrollbar-thumb {
    background-color: #171470; 
    border-radius: 5px; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #101b43; 
}



/* breakpoints */

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:991px){
    .header{
        padding:2rem 3%;
    }
    
    section{
        padding: 10rem 3% 2rem; 
    }

    .services{
        padding-bottom:7rem;
    }

    .portfolio{
        padding-bottom:7rem;
    }

    .events{
        padding-bottom:7rem;
    }
        
    .skills-container .skills-list{
        grid-template-columns: repeat(4,1fr);
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding:2rem 3%;
    }
}

@media(max-width:768px){
    #menu-icon{
        display: block;
    }

    .navBar{
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        padding:1 rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow:0 .5rem 1rem rgba(0,0,0, .2);
        display: none;
    }

    .navBar.active{
        display: block;
    }

    .navBar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    #devPic{
        width: 70vw;
        margin-top: 4rem;
    } 

    .about{
        flex-direction: column-reverse;
    }

    #aboutDevPic{
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2{
        margin-bottom: 3rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }

    .events h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }

    .events-container{
        grid-template-columns: repeat(2,1fr);
    }

    .skills-container .skills-list{
        grid-template-columns: repeat(3,1fr);
    }

}


@media(max-width:617px){
    .portfolio-container{
        grid-template-columns: repeat(1,1fr);
    }

    .events-container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width:100%;
    }

    .skills-container .skills-list{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 365px){
    #devPic{
        width: 90vw;
    }

    #aboutDevPic{
        width: 90vw;
    }

    .skills-container .skills-list{
        grid-template-columns: repeat(1,1fr);
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}