@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    font-family: var(--font-family);
}

:root {
    --bg-color: #070F2B;
    --second-color: #1B1A55;
    --text-color: #d2d1f5 ;
    --main-color: #7a8efe;
    --font-family: 'Roboto', sans-serif;
    --transition: 0.4s ease-in;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}     

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo
{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--text-color);
    cursor: pointer;
}

.navBar a{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 2rem;
    cursor: pointer;
    transition: var(--transition);
}

.navBar a:hover,
.navBar a.active{
    color: var(--main-color);
    border-bottom: 4px solid var(--main-color);
}


.mobile-nav-toggle{
    color: var(--text-color);
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
}

#devPic{
    height:58vh;
    background-color: teal;
    border-radius: 50%;
}

.home
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Source Code Pro',monospace;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-content p{
    font-size: 1.6rem;
}

span{
    color: var(--main-color);  
}

.socialMedia a{
    display:inline flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    font-size:2rem;
    color: var(--main-color);
    cursor:pointer;
    transition: .5s ease;
}

.socialMedia a:hover{
    background: var(--main-color);
    color: var(--second-color);
    box-shadow:0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
    letter-spacing: .1rem;
    transition: .5s ease;
}

.btn:hover{
    background: var(--second-color);
    color: var(--main-color);
}

.about{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Source Code Pro',monospace;
    gap:2rem;
    background: var(--second-color);
}


#aboutDevPic{
    height:58vh;
    background-color:transparent;
    border-top:6px solid teal;
    border-left:6px solid  teal;
    border-right:6px solid  teal;
    border-radius: 50%;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin : 2rem 0 3rem;
}

body::-webkit-scrollbar {
    width: 10px; 
}

body::-webkit-scrollbar-track {
    background-color: #8e7af0; 
}

body::-webkit-scrollbar-thumb {
    background-color: #171470; 
    border-radius: 5px; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #101b43; 
}

